body{
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-bar{
    display: flex;
    align-items:center;
    padding-left: 20px;
}
.background{
background-image: url("assets/Image3.jpg");
background-position: center;
background-repeat: no-repeat;
}
.nav-bar2{
 padding-left: 400px;
}
.nav-bar2 ul{
    display: flex;
}
.nav-bar2 li{
    padding-left: 20px;
    list-style: none;
}
.nav-bar3{
    padding-left: 400px;
}
a{
    text-decoration: none;
}
.transform{
    text-align: center;
}
.transform button{
margin: 60px;
font-weight: bold;
background-color: white;
border: none;
border-radius: 50px;
padding: 15px;
}
.transform button:hover{
 cursor: pointer;   
}
.feat-cat{
text-align: center;
}
.new-collection h4{
text-align: center;
}
.explore{
    display: flex;
}
.explore2{
 width: 50%;
}
.img2{
  width: 50vw;
  height: 30vh;
  object-fit: cover;
}
.park{
  background-color:rgb(178, 177, 177);
  height: 350px;
  width: ;
}
.park img{
    width: 350px;
    height: 250px;
  display: block;
  margin: 0 auto; 
}
.circle1{
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.circle2{
    background-color:blueviolet;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.circle3{
    background-color:antiquewhite;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.circle4{
    background-color:rgb(146, 118, 81);
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.circle{
position: relative;
padding-right: -5px;
display: flex;
margin-top: 20px;
margin-right: 20px;
} 
.chair-name{
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
}
.circle-div{
    display: flex;
    justify-content: space-between;
}
.circle-div button{
    margin-left: 20px;
    margin-top: 20px;
    font-size: large;
    border-radius: 50px;
    border:none;
}
.view-details{
    display: flex;
    justify-content: space-between;
}
.image-container1 {
max-width: 100%;
height: auto;
}
.blocks{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.details button{
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: large;
    border-radius: 50px;
    border:none;
}