body{
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-bar{
    display: flex;
    align-items:center;
    padding-left: 20px;
}
.background{
background-image: url("assets/Image3.jpg");
background-position: center;
background-repeat: no-repeat;
}
.nav-bar2{
 padding-left: 400px;
}
.nav-bar2 ul{
    display: flex;
}
.nav-bar2 li{
    padding-left: 20px;
    list-style: none;
}
.nav-bar3{
    padding-left: 400px;
}
a{
    text-decoration: none;
}
.transform{
    text-align: center;
}
.transform button{
margin: 60px;
font-weight: bold;
background-color: white;
border: none;
border-radius: 50px;
padding: 15px;
}
.transform button:hover{
 cursor: pointer;   
}
.feat-cat{
text-align: center;
}
.new-collection h4{
text-align: center;
}
.explore{
    display: flex;
}
.explore2{
 width: 50%;
}
.img2{
  width: 50vw;
  height: 30vh;
  object-fit: cover;
}
.park{
  background-color:rgb(178, 177, 177);
  padding: 20px;
  width: 33%;
}
.circle1{
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.circle2{
    background-color:blueviolet;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.circle3{
    background-color:antiquewhite;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.circle4{
    background-color:rgb(146, 118, 81);
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.circle{
position: absolute;
position: relative;
padding-right: 15px;
} 
/*.bib {
  position: relative;

}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
}

.c1 { left: 0; background: red; }
.c2 { left: 20px; background: blue; }
.c3 { left: 40px; background: green; }*/
